<div class="wrapper">
    <nav class="navbar navbar-default" style="margin: 0; background-color:white">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                <a class="navbar-brand" href="#">Classify</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/logout">
							<i class="ti-power-off"></i>
							<p>Logout</p>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <div class="main-panel" style="float: left">
        <div class="content">
            <div class="container-fluid">
                {{!--RoW--}}
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="text-center"><i class="ti-control-backward playerControl"></i></o><i class="ti-control-pause playerControl"></i><i class="ti-control-forward playerControl"></i></p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div class="sidebar" data-background-color="white" data-active-color="danger" style="right:0; position:relative">
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text">
                    Notifications 
                </a>
            </div>
            <ul>
                <li></li>
            </ul>
        </div>
    </div>
</div>
